@model prjCustomer.Models.tCustomer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tCustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
